[Unit]
Description=joal service

[Service]
Type=simple
ExecStart=/home/siffreinsg/blackpearl/starters/joal.sh
ExecStop=/bin/kill -s QUIT $MAINPID
ExecStopPost=/home/siffreinsg/blackpearl/starters/tautulli_notify.sh --subject "<b>Systemd services</b>" --body "JOAL service stopped running."
LimitNOFILE=10000

[Install]
WantedBy=default.target

[Unit]
Wants=network-online.target
After=network-online.target
