[Unit]
Description=joal service
Wants=network-online.target
After=network-online.target
OnFailure=notify_onfailure@%i.service

[Service]
Type=simple
ExecStart=/home/siffreinsg/blackpearl/starters/joal.sh
ExecStop=/bin/kill -s QUIT $MAINPID
ExecStopPost=systemctl --user start notify_onfailure@%i.service
LimitNOFILE=10000

[Install]
WantedBy=default.target
