[Unit]
Description=joal service

[Service]
Type=simple
ExecStart=/home/siffreinsg/blackpearl/starters/joal.sh
ExecStop=/bin/kill -s QUIT $MAINPID
LimitNOFILE=10000

[Install]
WantedBy=default.target

[Unit]
Wants=network-online.target
After=network-online.target
