[Unit]
Description=Send notifications via Tautulli on systemd service failure

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/home/siffreinsg/blackpearl/starters/tautulli_notify.sh --subject "<b>Systemd services</b>" --body "%i service failed.\n$(systemctl --user status %i)"'

[Install]
WantedBy=multi-user.target
