[Unit]
Description=ntfy server
Wants=network-online.target
After=network-online.target
OnFailure=notify_onfailure@%i.service

[Service]
Type=simple
ExecStart=/home/siffreinsg/blackpearl/starters/ntfy-server.sh serve
ExecStop=/bin/kill -s QUIT $MAINPID
LimitNOFILE=10000

[Install]
WantedBy=default.target
