[Unit]
Description=Plex Collection Cleanup
Wants=plex_collection_cleanup.timer
OnFailure=notify_onfailure@%i.service

[Service]
Type=oneshot
ExecStart=/home/siffreinsg/blackpearl/starters/plex_collection_cleanup.sh sync

StandardOutput=append:/home/siffreinsg/.apps/plex-collection-cleanup/last.log
StandardError=append:/home/siffreinsg/.apps/plex-collection-cleanup/last.log

[Install]
WantedBy=multi-user.target
