[Unit]
Description=qBit Manage
Wants=qbit_manage.timer
OnFailure=notify_onfailure@%i.service

[Service]
Type=oneshot
ExecStart=/home/siffreinsg/blackpearl/starters/qbit_manage.sh

[Install]
WantedBy=multi-user.target
