[Unit]
Description=Version Notifier
Wants=version_notifier.timer
OnFailure=notify_onfailure@%i.service

[Service]
Type=oneshot
ExecStart=/home/siffreinsg/blackpearl/starters/version_notifier.sh

[Install]
WantedBy=multi-user.target
